@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-secondary {
  @apply text-black bg-white border-2 border-gray-500 hover:bg-gray-200 hover:text-black hover:border-gray-500;
}

.btn-error {
  @apply text-white;
}

.z-top {
  z-index: 999;
}

.none {
  display: none;
}
.tutup-print {
  display: block;
}

@media print {
  .none {
    display: block;
  }
  .tutup-print {
    display: none;
  }
} 
